body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin:0;
    padding: 0;
    background-color: #f4f4ff;
}

body.dark-mode{
    background-color: #eb0d0d;
    color: #72cc36;
}

body.dark-mode header{
    background: #5a1af0;
}

body.dark-mode footer{
    background: #1ecf53;
}

header{
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header nav a{
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header nav a:hover{
    background-color: #0cec69da;
    color: #333;
}

header nav a:active{
    background-color: #e60c0c;
    color: #000;
}

main{
    max-width: 800px;
    margin: 2rem auto;
    margin-bottom: 7%;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section{
    margin-bottom: 2rem;
}

section h2{
    border-bottom: 2px soild #333;
    padding-bottom: 0.5rem;
}

.proj{
    margin-bottom: 1rem;
}

footer{
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

